body {
    background-color: #6e1010;
    margin: 0;
}

div.body {
    margin: 25px;
    background-color: #6e1010;
}

div.header-container {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
    color: beige;
    background-color: darkred;
    height: 100px;
    align-items: center;

}


div.header-item {
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 17px;
    text-align: center;
}


.header-item:hover {
    color: crimson;
    background-color: beige;
}

.header-item > a {
    text-decoration: none;
    color: beige;
}


.logo {
    margin-left: 7%;
    font-size: 50px;
}


/* Footer styles */

.footer-container {
    margin: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-item {
    text-align: center;
    color: beige;
}

.footer-item > a {
    text-decoration: none;
    color: beige;
}



